
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body{
  background-image: url('image/ardoise.jpg');
  font-family: 'Permanent Marker', cursive;
  width: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

img{
  width:150px;
  height: 100px;
}

h1{
  color: white;
  text-align: center;
}

h2{
  text-align: center;
  font-size: 1.7em;
}

.choix{
  width:17%;
  color:white;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;

}

.formulaire{
  color: white;
  margin-top: 8%;
  width: 297px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.plats{
 display:flex;
 flex-flow: row wrap;
 padding: 2%;
 width: 1200px;
  }

.listePlat{
  font-size:1.3em;
  color:white;
  padding:3%;
  width:25%;
}
.formu{
  display:flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.list{
  text-align:center;

}

input[type=text],input[type=file]{
  background-color: rgb(75,75,75);
  border-color: rgb(75,75,75);
  color:white;
  height: 39px;
  width: 339px;}

input[type=text]:focus{
  border: 1px solid red;
}

input[type=submit]{
  background-image: url('image/vichy.jpg');
  margin-top: 20%;
  width: 145px;
  height: 48px;
  border-radius: 15px;
}
.button{
  width:100%;
  text-align: center;
}

.formu label{
  font-size: 1.3em;
  text-align: center;
}

.logo{
float:left;
}

.atable{
  float:left;
  margin-right: 85%;
  margin-top: -3%;
  margin-left: 3%;
}

.btnmodif{
  color:rgb(223,34,16);
  display: flex;

}
@media screen and (max-width: 1024px){
h1{
  width:12px;
  }
.formu{
  flex-wrap: wrap;
  }
.choix{
  width: 100%;
  }
.choix img{
  width: 80%;
 }
}
